<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{todoapp.title}"></title>
</head>
<body>
<h1 th:text="#{todoapp.edit.title}">編集</h1>
<p th:text="#{todoapp.edit.message(#{todo.ok.button})}">このページではTodoを編集することができます。編集が完了したら「OK」ボタンをクリックしてください。</p>
<p><a href="/todo/edit" th:href="@{/todo/}" th:text="#{todo.top.link}">一覧に戻る</a></p>
<form action="#" th:action="@{/todo/edit/}" th:object="${todoForm}" method="post">
    <input type="hidden" th:value="${todoForm.id}" th:attr="name='id'" />
    <table>
        <tr>
            <td th:text="#{todo.field.id.name}">ID</td>
            <td th:text="${todoForm.id}">
            </td>
        </tr>
        <tr>
            <td th:text="#{todo.field.title.name}">タイトル</td>
            <td><input type="text" th:field="*{title}" /></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">タイトルの入力に誤りがあります</td>
        </tr>
        <tr>
            <td th:text="#{todo.field.content.name}">詳細</td>
            <td><textarea cols="80" rows="7" th:field="*{content}"></textarea></td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></td>
        </tr>
        <tr>
            <td th:text="#{todo.field.createdDateTime.name}">作成日時</td>
            <td th:text="${#dates.format(todoForm.createdDateTime, 'yyyy/MM/dd HH:mm')}"></td>
        </tr>
        <tr>
            <td th:text="#{todo.field.updatedDateTime.name}">更新日時</td>
            <td th:text="${#dates.format(todoForm.updatedDateTime, 'yyyy/MM/dd HH:mm')}"></td>
        </tr>
        <tr>
            <td th:text="#{todo.field.completed.name}">完了</td>
            <td><input type="checkbox" th:field="*{completed}" /> </td>
        </tr>
        <tr>
            <td th:text="#{todo.field.archived.name}">アーカイブ済</td>
            <td><input type="checkbox" th:field="*{archived}" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" th:text="#{todo.ok.button}">OK</button></td>
        </tr>
    </table>
</form>
<p><a href="/todo/edit" th:href="@{/todo/}" th:text="#{todo.top.link}">一覧に戻る</a></p>
</body>
</html>