<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>編集</title>
</head>
<body>
<h1>編集</h1>
<p>このページではTodoを編集することができます。編集が完了したら「OK」ボタンをクリックしてください。</p>
<p th:text="${message}"></p>
<p><a href="/todo/edit" data-th-href="@{/todo/}">一覧に戻る</a></p>
<form action="#" th:action="@{/todo/edit/}" th:object="${todoForm}" method="post">
    <input type="hidden" th:value="${todoForm.id}" th:attr="name='id'" />
    <table>
        <tr>
            <td>ID</td>
            <td th:text="${todoForm.id}">
            </td>
        </tr>
        <tr>
            <td>タイトル</td>
            <td><input type="text" th:field="*{title}" /></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">タイトルの入力に誤りがあります</td>
        </tr>
        <tr>
            <td>詳細</td>
            <td><textarea cols="80" rows="7" th:field="*{content}"></textarea></td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></td>
        </tr>
        <tr>
            <td>完了</td>
            <td><input type="checkbox" th:field="*{completed}" /> </td>
        </tr>
        <tr>
            <td>アーカイブ済</td>
            <td><input type="checkbox" th:field="*{archived}" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">OK</button></td>
        </tr>
    </table>
</form>
<p><a href="/todo/edit" data-th-href="@{/todo/}">一覧に戻る</a></p>
</body>
</html>