<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<h1 th:text="#{todoapp.edit.title}">編集</h1>
<p th:text="#{todoapp.edit.message(#{todo.ok.button})}">このページではTodoを編集することができます。編集が完了したら「OK」ボタンをクリックしてください。</p>
<div th:replace="link :: link-top"></div>
<form action="#" th:action="@{/todo/edit/}" th:object="${todoForm}" method="post">
    <input type="hidden" th:value="${todoForm.id}" th:attr="name='id'" />
    <table>
        <tr>
            <td th:text="#{todoForm.id}">ID</td>
            <td th:text="${todoForm.id}">
            </td>
        </tr>
        <tr>
            <td th:text="#{todoForm.title}">タイトル</td>
            <td><input type="text" th:field="*{title}" /></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">タイトルの入力に誤りがあります</td>
        </tr>
        <tr>
            <td th:text="#{todoForm.content}">詳細</td>
            <td><textarea cols="80" rows="7" th:field="*{content}"></textarea></td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></td>
        </tr>
        <tr>
            <td th:text="#{todoForm.createdDateTime}">作成日時</td>
            <td th:text="${#dates.format(todoForm.createdDateTime, 'yyyy/MM/dd HH:mm')}"></td>
        </tr>
        <tr>
            <td th:text="#{todoForm.updatedDateTime}">更新日時</td>
            <td th:text="${#dates.format(todoForm.updatedDateTime, 'yyyy/MM/dd HH:mm')}"></td>
        </tr>
        <tr>
            <td th:text="#{todoForm.completed}">完了</td>
            <td><input type="checkbox" th:field="*{completed}" /> </td>
        </tr>
        <tr>
            <td th:text="#{todoForm.archived}">アーカイブ済</td>
            <td><input type="checkbox" th:field="*{archived}" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" th:text="#{todo.ok.button}">OK</button></td>
        </tr>
    </table>
</form>
<div th:replace="link :: link-top"></div>
</body>
</html>