<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規作成</title>
</head>
<body>
<h1>新規作成</h1>
<p>Todoを新規作成します。必要な項目の入力が完了したら、「OK」ボタンをクリックしてください。</p>
<p><a href="/todo/edit" data-th-href="@{/todo/}">一覧に戻る</a></p>
<form action="#" th:action="@{/todo/new/}" th:object="${todoForm}" method="post">
<table>
    <tr>
        <td>タイトル</td>
        <td><input type="text" th:field="*{title}" /></td>
    </tr>
    <tr>
        <td>詳細</td>
        <td><textarea cols="80" rows="7" th:field="*{content}"></textarea></td>
    </tr>
    <tr>
        <td colspan=""><input type="submit" value="OK" /></td>
    </tr>
</table>
</form>
<p><a href="/todo/edit" data-th-href="@{/todo/}">一覧に戻る</a></p>
</body>
</html>