<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${title}"></title>
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <p th:text="${message}"></p>
        <p><a data-th-href="@{/todo/new/}">新しいTodoを作成する</a></p>
        <table>
            <tr>
                <th>No.</th>
                <th>タイトル</th>
            </tr>
            <tr th:each="todo,iterStat : ${todoList}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${todo.title}"></td>
                <td><a href="/todo/edit" data-th-href="@{/todo/edit/{id}/(id=${todo.id})}">編集</a></td>
            </tr>
        </table>
    </body>
</html>